{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} - Password Confirm{% endblock title %}

{% block content %}

    <div class="row justify-content-center mt-4">
        <div class="col-6 text-center">
            {% if validlink %}
                <h4 class="my-4">Inserisci e Conferma la nuova Password</h4>
                <form method="POST" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-warning" value="CAMBIA PASSWORD">
                </form>
            {% else %}
                <h1>ERRORE!</h1>
                <p>Questo link non è più valido. Per procedere al reset, puoi effettuare una nuova richiesta di cambio password.</p>
            {% endif %}
        </div>
    </div>

{% endblock content %}
