Qualcuno ha richiesto un Password Reset per la Password associata all'email {{ email }}.
Se non hai richiesto nessun cambio Password puoi ignorare questa Mail.
Segui il link qua sotto se invece intedi procedre:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

<!--
{{ protocol }} -> protocollo utilizzato
{{ domain }} -> dominio del nostro sito
url 'password_reset_confirm' -> link di reset password
uidb64=uid token=token -> Token generato automaticamente da Django
-->