{% extends 'base.html' %}

{% block title %}{{ block.super }} - Lista Utenti{% endblock title %}

{% block content %}

    <h2 class="mt-3">Lista Utenti</h2>
    <hr>

    <!-- Voglio fare il modo di visulizzare 3 utenti per riga. Faccio questo con div rows e col. Al primo giro del ciclo apro un div righa,
        e metto gli utenti con div colonna. Con il primo IF controllo se il contatore è divisibile per 3, quindi che ne sia multiplo..
        se è cosi, oppure siamo all'ultimo giro del ciclo chiudo il div righa; se il contatore è divisibile per 3 ma non siamo all'ultima righa 
        apro poi un altro div righa. -->

    {% for utente in object_list %}

        {% if forloop.first %}<div class="row">{% endif %}
            <div class="col-lg-4">
                <div class="card my-1 border-info">
                    <div class="card-body py-0">
                        <p class="mb-0">
                            <a class="text-info" href="{% url 'user_profile' username=utente.username %}">
                                <strong>@{{ utente.username }}</strong>
                            </a>
                        </p>

                        Iscrizione: {{ utente.date_joined|date:"M Y" }}<br>
                        Post: {{ utente.posts.count }}<br> <!-- relazione inversa in Post -->
                        Discussioni: {{ utente.discussioni.count }} <!-- relazione inversa in Discussione -->
                    </div>
                </div>
            </div>
        
        {% if forloop.counter|divisibleby:"3" or forloop.last %}</div>{% endif %}
        {% if forloop.counter|divisibleby:"3" and not forloop.last %}<div class="row">{% endif %}

    {% endfor %}

{% endblock content %}